* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  height: 100vh;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 230px;
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.menu li a{
    text-decoration: none;
    color: black;
}
.logo{
    padding-left: 12px;

}
.logo h4{
    font-size: 22px;
    letter-spacing: 7px;
}
.logo p{
    font-weight: 300;
    color: #1f1f1f;
    letter-spacing: 1px;
}
.title {
  width: 76%;
}
.title h1 {
  width: 410px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: -2px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product{
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  
}
.product-details{
  width: 370px;
}
.product-details h1{
  font-size: 60px;
  letter-spacing: -4px;
}
.product-details p{
  color: #62666D;
  font-weight: 300;
  font-size: 12px;
  margin-top: 20px;
  line-height: 20px;
}

.product-image{
  width: 400px;
  height: 380px;
  background-color: #D2C7F0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img{
  width: 300px;
}
.colors{
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.colors p {
  margin: 10px;
  margin-left: 2px;
  letter-spacing: 0px;
  font-size: 16px;
}
.color{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
}
.darkBlue{
  background-color: #053B78;
}
.purple{
  background-color: #9315A8;
}
.brown{
  background-color: #A83116;
}
.black{
  background-color: black;
}
.price{
  font-size: 40px;
  letter-spacing: -3px;
  margin-top: 10px;
}
.button{
  margin-top: 30px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}






@media only screen and (max-width: 400px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    margin-top: 15px;
  }
  .product{
    width: 380px;
    flex-direction: column;
    align-items: center;
  }
  .product-details{
    width: 380px;
    text-align: justify;
    padding: 20px;
  }
  .product-details h1{
    font-size: 40px;
    text-align: center;
  }
  .product-details p{
    font-size: 15px;
  }
  .title{
    display: none;
  }
  .product-image{
    width: 350px;
    justify-content: center;
    margin-bottom: 40px;
  }
}
